body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 60px;
}

input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
